:root {
  --primery-text-color: #212121;
  --parahraf-text-color: #757575;
  --accent-color: #2196f3;
  --hero-text-color: #ffffff;
  --background-color: #ffffff;
  --background-team-color: #f5f4fa;
  --background-hero-footer-color: #2f303a;
  --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
  --hero-buttom-hover-color: #188ce8;
  --icon-social-color: #afb1b8;
  --shadow-color: #000000;
}

body {
  background-color: var(--background-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0px;
  padding: 0px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

p {
  color: var(--parahraf-text-color);
  font-weight: normal;
  width: 270px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  display: inline-block;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button:hover, .button:focus {
  background-color: var(--hero-buttom-hover-color);
  box-shadow: 0px 3px 1px rgba 0px 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.logo {
  font-family: Raleway, Oleo Script, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo:hover {
  color: var(--primery-text-color);
}

.logo span {
  color: #212121;
}

.logo span:hover {
  color: var(--accent-color);
}

.line-box {
  display: flex;
  align-items: center;
}

.line-box li {
  display: block;
}

.line-box li + li {
  margin-left: 50px;
}

.line-box > ul {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.line-menu {
  display: flex;
}

.menu-box {
  display: flex;
  align-items: center;
}

.scvg {
  margin-right: 10px;
  position: relative;
  bottom: -2px;
}

.header .list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0px;
}

.header .list:hover, .header .list:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.mailh,
.telh {
  color: var(--parahraf-text-color);
  fill: var(--parahraf-text-color);
  align-items: center;
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  bottom: 0;
  left: 0;
}

.section-hero {
  padding-top: 200px;
  padding-bottom: 280px;
  background: #c4c4c4;
}

/*overlay*/
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-hero1.jpg);
}

.hero {
  text-align: center;
}

h1 {
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.section-second,
.projects,
.section-team,
.regular-customers,
.portfolio {
  padding: 94px 0;
}

.section-second,
.projects-element,
.photo-team,
.regular-customers,
.footer > div,
.buttons {
  display: flex;
}

.projects,
.section-team,
.regular-customer {
  padding-top: 0;
}

.section h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 270px;
  height: 16px;
}

.section p {
  font-size: 14px;
  line-height: 1.71;
}

.section-second {
  width: 270;
  padding-top: 94px;
}

.list-item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.section-second > li + li {
  margin-left: 30px;
}

.projects-element > li + li {
  margin-left: 30px;
}

.thumb {
  position: relative;
}

.label {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-size {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--icon-social-color);
}

.icon-size:hover, .icon-size:focus {
  background-color: var(--accent-color);
  fill: var(--hero-text-color);
}

.icon-social {
  width: 20px;
  height: 20px;
}

.icon-social:hover {
  fill: var(--hero-text-color);
}

.social-network:not(:last-child) {
  margin-right: 10px;
}

.photo-team > li + li {
  margin-left: 30px;
}

.photo-team > li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-team {
  background: var(--background-team-color);
}

.section-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.section-team p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team {
  padding-top: 30px;
  padding-bottom: 30px;
}

.customers {
  display: flex;
}

.logo-customer {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-social-color);
  box-sizing: border-box;
  border-radius: 4px;
}

.logo-customer:hover, .logo-customer:focus {
  border: 1px solid var(--accent-color);
}

.logo-customer:not(:last-child) {
  margin-right: 30px;
}

.group-size {
  display: flex;
  padding: 16px 32px;
}

.group-size:hover svg,
.group-size:focus svg {
  fill: var(--accent-color);
}

.icon-group {
  display: flex;
  width: 106px;
  height: 60px;
  fill: var(--icon-social-color);
  justify-content: center;
  align-items: center;
}

.buttons button {
  color: var(--primery-text-color);
  background-color: var(--background-team-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: transparent;
  border-radius: 4px;
  line-height: 1.63;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons button:hover, .buttons button:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06);
}

.buttons > li + li {
  margin-left: 8px;
}

.buttons {
  justify-content: center;
  padding-bottom: 50px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.card {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100%-90px)/3;
  border: 1px;
}

.card:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06);
}

.box {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 63px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: white;
  background: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-box:hover .card-overlay,
.card-box:focus .card-overlay {
  transform: translateY(0%);
}

.cards h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.cards h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.cards p {
  font-size: 16px;
  line-height: 1.88;
}

.cards-name {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin-top: -4px;
}

.footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  background-color: var(--background-hero-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  margin-right: 70px;
}

.footer .link:hover,
.footer .list:focus {
  color: var(--accent-color);
}

.footer-log {
  margin-bottom: 20px;
}

.logof span {
  color: var(--hero-text-color);
}

.logof span:hover {
  color: var(--accent-color);
}

.logof:hover {
  color: var(--hero-text-color);
}

.address > li:not(:last-child) {
  margin-bottom: 9px;
}

.city {
  font-style: normal;
  color: var(--hero-text-color);
}

.mail,
.tel {
  font-style: normal;
  color: var(--footer-mail-tel-color);
}

.footer-join {
  justify-content: center;
  align-items: center;
  margin-right: 93px;
}

.footer-join h2 {
  width: 145px;
  height: 16px;
  font-weight: bold;
  font-size: 14px;
  color: var(--background-color);
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;
}

.footer-email h2 {
  width: 100%;
  height: 16px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.63;
  color: var(--background-color);
  text-transform: uppercase;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 20px;
}

.footer-email {
  width: 358px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.email-input {
  width: 100%;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  background-color: var(--background-hero-footer-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
}

.email-input {
  display: flex;
}

.email-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  width: 200px;
}

.footer-button {
  position: relative;
  width: 200px;
  height: 50px;
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  display: inline-block;
  padding: 10px 62px 10px 29px;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.icon-send {
  position: absolute;
  right: 20px;
  bottom: 25px;
  width: 24px;
  height: 24px;
  transform: translateX(-50%);
  transform: translateY(50%);
}

.icon-size-footer {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--hero-text-color);
}

.icon-size-footer:hover, .icon-size-footer:focus {
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.contact-modal p {
  width: 448px;
  height: 23px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 12px;
}

.contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
}

.contact-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}

.contact-form-checkbox {
  font-size: 14px;
  line-height: 24px;
}

.contact-form-name {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.contact-form-name:hover .contact-form-input,
.contact-form-name:focus .contact-form-input {
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.form-name {
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 4px;
}

.form-icon-svg {
  position: relative;
}

.contact-form-name:hover .form-icon,
.contact-form-name:focus-within .form-icon {
  fill: var(--accent-color);
  cursor: pointer;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 8px;
}

.contact-form-checkbox-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.terms-contract {
  color: var(--accent-color);
}

.contact-form-btn {
  display: block;
  padding: 10px 55px;
  margin: auto;
}
/*# sourceMappingURL=main.css.map */