.section-second,
.projects,
.section-team,
.regular-customers,
.portfolio {
  padding: 94px 0;
}
.section-second,
.projects-element,
.photo-team,
.regular-customers,
.footer > div,
.buttons {
  display: flex;
}
.projects,
.section-team,
.regular-customer {
  padding-top: 0;
}
.section h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 270px;
  height: 16px;
}

.section p {
  font-size: 14px;
  line-height: 1.71;
}