:root {
  --primery-text-color: #212121;
  --parahraf-text-color: #757575;
  --accent-color: #2196f3;
  --hero-text-color: #ffffff;
  --background-color: #ffffff;
  --background-team-color: #f5f4fa;
  --background-hero-footer-color: #2f303a;
  --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
  --hero-buttom-hover-color: #188ce8;
  --icon-social-color: #afb1b8;
  --shadow-color: #000000;
}
